<!DOCTYPE html>
<html lang="en" dir="ltr">
  {%set page_title = "Information on the State of "+state_name %}
  {% include "header.html" %}
  <body>
    <div class="row">
      <div class="col-12">
        <h1>{{state}}</h1> <br>
        <h2>{{state_name}}</h2>
      </div>
    </div>

    <br><br>

    <div class="row">
      <div class="col-4">
        <p>
          Total Population: {{sdata["population"]}} <br>
          Number of Counties: {{sdata["num_counties"]}} <br>
          Population Increase since 2010: {{sdata["population_increase"]}} <br>
          Ethnic Breakdown: <br>
          <p class="tab">
            White: {{sdata["white_percent"]}}% <br>
            African American: {{sdata["afam_percent"]}}% <br>
            Asian: {{sdata["asian_percent"]}}% <br>
            Hispanic or Latino: {{sdata["latino_percent"]}}% <br>
            Other: {{sdata["other_percent"]}}%
          </p>
        </p>
      </div>
    </div>


    <div class="row">
      {% set options_type = "county" %}
      {% set current = county %}
      {% set location = "countyInfo" %}
      {% include "selector.html" %}
    </div>

    {%if not county == "nil" %}
    <div class="row">
      <h3> View information on the {{state_name}} county of <a href="/countyInfo?county={{county}}">{{county}}</a></h3>
    </div>
    {% endif %}

  </body>
</html>
